.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    border-bottom: 1px solid black;
    margin: 2rem 10rem;
}
.left{
    grid-column-start: 1;
    grid-column-end: 4;
}
.left img{
    border: 1px solid red;
    border-radius: 50%;
}
.username{
    display: flex;
}
button{
  margin-left: 2rem;
  font-size: 14px;
  height: 2rem;
  translate: 0 50%;
  cursor: pointer;
}
.follow span{
    margin-right: 1rem;
}
.fullname p{
    font-weight: 600;
    text-transform: capitalize;
}
.bio{
    opacity: 0.5;
}